:root{
    --max-width : 1440px
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: black;
    width: 100%;
    height: 100%;
}
body{
    overscroll-behavior: none;
    color: white;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased ;
    font-weight: 400;
    width: 100%;
    height: 100%;
}
.line-container{
    position: fixed;
    top: 0;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%);
    max-width: var(--max-width);
    overflow: hidden;
}
.separator {
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.209);
}
.separator:nth-of-type(1){
    left: 25%;
}
.separator:nth-of-type(2){
    left: 50%;
}
.separator:nth-of-type(3){
    left: 75%;
}
main{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: scroll;
}
.scroll-container{
    position: relative;
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.text-reveal{
  line-height: 1;
  overflow: hidden;
  font-size: clamp(2rem , 20cqi , 20rem);
}
.text-reveal span{
    transform: translateY(110%);
    display: inline-block;
    transition: .5s;
    
}
#hero{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
    flex-direction: column;
    gap: 80px;
}
.hero-title{
    overflow: hidden;
}

.hero-title-header{
    font-size: clamp(2rem , 20cqi , 20rem);
    letter-spacing: -.05em;
    margin-bottom: 2rem;
}
#about{
    display: flex;
    justify-content: center;
}
.about-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
    height: 100%;
}
.about-text{
    text-align: center;
    width: 45%;
    text-transform: uppercase;
    margin: auto;
    text-wrap: balance;
    font-size: 1.4rem;
    letter-spacing: -.05em;
}
#video{
    display: flex;
    justify-content: center;
    height: 200%;
}
.shim{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.video-sticky{
    position: sticky;
    width: 100%;
    height: 50%;
    top: 0;
}
.video-text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: clamp(2rem , 10cqi , 10rem);
    overflow: hidden;
}
.main-video{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    will-change: transform;
    transform: scale(.5);
}
#projects{
    position: relative;
    height: 200%;
}
.projects-sticky{
    position: sticky;
    top: 0;
    height: 50%;
    width: 100%;
}
.slider-container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.projects-slider{
    display: flex;
    height: 100%;
    will-change: transform;
    overflow: hidden;
    width: min-content;
}
.project{
    position: relative;
    height: 100%;
    display: flex;
    padding: 100px 20px 100px;
    width: 25vw;
    flex-direction: column;
}
.image-container{
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}
.project-image{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(50%);
}
.start{
    justify-content: flex-start;
}
.mid{
   justify-content: center; 
}
.end{
    justify-content: end;
}
.project-details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
}
.project-details p{
    font-size: .8rem;
}
#blog{
    display: flex;
    height: 400%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.blog-hero , .blog-post{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    max-width: var(--max-width);
    overflow: hidden;
}
.post{
    position: relative;
    padding: 1rem;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.092);
    backdrop-filter: blur(10px);
    will-change: transform;
    -webkit-backdrop-filter: blur(10px) ;
}
.post-image-container{
    overflow: hidden;
    width: 100%;
    position: relative;
    aspect-ratio: 16 / 9;
}
.blog-post-img{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
}
.post-details{
    display: flex;
    width: 100px;
    margin-top: 1rem;
    justify-content: space-between;
}
.post-details p{
    font-size: .8rem;
}
#circle-section{
    position: relative;
    height: 200%;
}
.circle-sticky{
    width: 100%;
    display: flex;
    height: 50%;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
}
.circle-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0);
    width: 150vmax;
    height: 150vmax;
    border-radius: 50%;
    background-color: white;
}
.circle-sticky h2{
    color: #000000;
    z-index: 1;
    font-size: clamp(2rem , 20cqi , 20rem);
}
#discover{
    background-color: white;
    height: 100%;
}
.discover-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.discover-container p{
    color: #000000;
    will-change: transform;
    font-size: 1.4rem;
}
#end-video{
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}
.end-video-container{
    position: relative;
    width: 100%;
    width: 100%;
}
.end-video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}
#footer{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;

}
.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
}
.footer-title h2 span {
    display: inline-block;
    transition: .5s;
    overflow: hidden;
    color: black;
}




@media only screen and (max-width: 1100px){
    p{
        font-size: .8rem;
    }
    #projects{
        height: 400%;
    }
    .projects-sticky{
        height: 25%;
    }
    .project{
        width: 50vw;
    }
}
@media only screen and (max-width: 600px){
    #projects{
        height: 800%;
    }
    .projects-sticky{
        height: 12.5%;
    }
    .project{
        width: 100vw;
    }
    .post{
        width: 80%;
    }
}